.PaymentSuccessfull_Parent{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}
@media(max-width:600px){
    .PaymentSuccessfull_Parent{
        height: 100%;
    }
}